.blob {
  background-blend-mode: difference;
  opacity: 0.95;
  position: relative;
  height: 25vw;
  fill: var(--color-dark-blue);
  margin-bottom: 10vh;
}

/* Blob eb général */

.blob > article {
  position: absolute;
  top: 33%;
  left: 10%;
  width: 80%;
  font-size: 1vw;
  color: var(--color-yellow);
}

.blob h2 {
  font-size: 1.2vw;
}

/* Blob2 */
.blob2 {
  fill: var(--color-yellow);
  /* top: -3vw; */
}

.blob2 > article {
  color: var(--color-dark-blue);
  display: flex;
  justify-content: space-between;
}

.blob2 > article > * {
  position: relative;
}

/* Placement des textes */
.textDemarche1 {
  /* animation: ease-in-out top-to-bottom 10s infinite alternate; */
}

.textDemarche2 {
  animation: ease-in-out top-to-bottom 10s infinite alternate-reverse;
}

/* Blob3 */
.blob3 {
  /* top: -6vw; */
}

/* Media screen */
@media screen and (max-width: 790px) {
  .blob {
    width: 90%;
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 10px auto;
  }

  .blob article {
    position: static;
    width: 100%;
    mix-blend-mode: multiply;
  }

  .blob article p,
  li {
    font-size: 1rem;
  }

  .blob article h2 {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .blob svg {
    display: none;
  }
  .blob2 article {
    color: var(--color-blue);
  }

  .textDemarche2,
  .textDemarche1 {
    animation: none;
  }
  .blob {
    height: auto;
  }
  .blob2,
  .blob3 {
    position: static;
  }
}

/* Animation */

@keyframes top-to-bottom {
  0% {
    top: -5vw;
    z-index: 0;
    transform: scale(0.8);
  }

  100% {
    top: 0vw;
    transform: scale(1.2);
  }
}
