section:nth-child(3) {
  height: 15vw;
}
main {
  /* background: url(../img/logo5.png), url(../img/backgroung_opa_80.png);*/
  /* background: linear-gradient(
    11deg,
    var(--color-grey) 39.95%,
    var(--color-blue) 40.05%
  ); */
  /* background-color: var(--color-blue); */
  background-blend-mode: difference;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  /* padding: 0 10%; */

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

ul,
p {
  font-size: 0.9vw;
}

h2 {
  font-size: 1.6vw;
}

article {
  height: 0;
}
/* je place et normalise les textes du blob intro */
.textIntro {
  color: #ebbd04;
  position: relative;
  top: -17vw;
  left: 15%;
}

.textIntro p {
  width: 80%;
}

/* je place et normalise les textes du blob central */

.textDemarche {
  color: var(--color-dark-blue);
}

.textDemarche .textDemarche1 h2 {
  position: relative;
  top: -20vw;
  left: 45vw;
  transition: 2.5s;
  width: 100px;
  text-align: center;
}
.textDemarche ul {
  width: 40%;
  /* visibility: hidden; */
}

.textDemarche .textDemarche1 ul {
  position: relative;
  left: 10%;
  /* opacity: 0;
  transition: 1s; */
}
.textDemarche .textDemarche2 h2 {
  position: relative;
  top: -17vw;
  left: 50vw;
  /* opacity: 0;
  transition: 1s; */
}
.textDemarche .textDemarche2 ul {
  position: relative;
  top: -16vw;
  left: 50vw;
  /* opacity: 0; */
  /* transition: 1s; */
}

/* je fais apparaitre et place les textes du 2eme Blob */
/* .blob2:hover .textDemarche1 h2 {
  width: 100%;
  position: relative;
  top: -25vw;
  left: 10vw;
  text-align: left;
}
.blob2:hover .textDemarche1 ul {
  top: -24vw;

  opacity: 1;
  transition-delay: 2s;
}
.blob2:hover .textDemarche2 h2 {
  opacity: 1;
  transition-delay: 3s;
   transition-delay: 2.5s; 
}
.blob2:hover .textDemarche2 ul {
  opacity: 1;
  transition-delay: 4s;
   transition-delay: 3s; 
} */

/* je place et normalise les textes du blob Audit */
.textAudits {
  color: var(--color-yellow);
}

.textAudits h2 {
  position: relative;
  top: -18vw;
  left: 40%;
}

.textAudits p {
  width: 80%;
  position: relative;
  top: -17vw;
  left: 10%;
}

.blob1 {
  margin-left: 25%;
}

.blob1 svg path {
  fill: #084c64;
}

.blob1 svg path {
  box-shadow: 8px 11px 20px 3px #000000;
}
.blob2 {
  margin: 0;
  position: relative;
  top: -5vw;
  z-index: 1;
}
.blob2 svg path {
  fill: #ebbd04f0;
}

.blob3 {
  margin-right: 25%;
  position: relative;
  top: -10vw;
}

.blob3 svg path {
  fill: #084c64;
}
