/** @format */

@import url("https://fonts.googleapis.com/css2?family=Smooch&display=swap");

main {
  width: 100%;
  color: var(--color-dark-blue);
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* :::::::::::::::::::::::::::::::::::::Section 1 :::::::::::::::::::::::::::::::::::::*/
/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

.section1 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.section1 > * {
  min-width: 300px;
  max-width: 62vw;
}

/* :::::::::::::::::::::::::: */
/* Les deux encarts avec photo */
/* :::::::::::::::::::::::::: */
.section1 article:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* je fais disparaitre les photos pour preparer l'effet d'apparition et je stylise les photos */
main section:first-child img {
  border-radius: 50%;
  filter: grayscale();
  width: 0px;
  margin-bottom: 10px;
  border: solid 5px var(--color-dark-blue);

  transition: 2s;
}

/* ceci est l'effet de grossissement et rotation des photos */
.anne:hover img,
.marielle:hover img {
  width: 100px;
  border: solid 2px var(--color-yellow);
  transform: rotateY(3.142rad);
}
/* je stylise la police des noms et prenoms */
.anne h3,
.marielle h3 {
  font-family: "Smooch", cursive;
  font-size: 35px;
}

/* je colorise le background et les polices des encarts et je stylise le background*/
.marielle {
  color: var(--color-yellow);
  background-color: var(--color-dark-blue);
  border: solid 2px var(--color-yellow);
  border-radius: 10px 50% 30px 40%;
}
.anne {
  color: var(--color-dark-blue);
  background-color: var(--color-yellow);
  border: solid 2px var(--color-dark-blue);
  border-radius: 10px 50% 30px 40%;
}

/* je met un effet sur le background et la polices des encarts */
.marielle:hover {
  color: var(--color-dark-blue);
  background-color: var(--color-yellow);
  border: solid 2px var(--color-dark-blue);
}
.anne:hover {
  color: var(--color-yellow);
  background-color: var(--color-dark-blue);
  border: solid 2px var(--color-yellow);
}

/* je dimensionne la carte et place le texte et les images au centre */
.anne,
.marielle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-bottom: 20px;
  width: 250px;
  height: 270px;

  text-align: center;
  transition: 1s;
}

/* ::::::::::::::::::::::::::: */
/* Premier blob et son artcicle*/
/* ::::::::::::::::::::::::::: */

.blob {
  position: relative;
  text-align: center;
}

.blob1 {
  width: 75vw;
}

.blob article {
  position: absolute;
}

.blob1 article {
  top: 10vw;
  width: 25vw;
  left: 18vw;
}
.blob p {
  font-size: 1.2vw;
}
.blob h2 {
  font-size: 1.5vw;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* :::::::::::::::::::::::::::::::::::::Section 2 :::::::::::::::::::::::::::::::::::::*/
/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

.blob2 article {
  top: 25vw;
  width: 40vw;
  left: 30vw;
}
.blob article * {
  margin-bottom: 10px;
}
@media screen and (max-width: 790px) {
  .blob {
    width: 90%;
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 10px auto;
  }

  .blob article {
    position: static;
    width: 100%;
  }

  .blob article p {
    font-size: inherit;
  }

  .blob article h2 {
    font-size: inherit;
  }

  .blob svg {
    display: none;
  }
  .blob2 article {
    color: var(--color-blue);
  }
}
