img {
  width: 500px;
  float: right;
  border-radius: 1rem;
  margin: 1rem;
}

main {
  margin: 100px auto;
}

main .nav-item * {
  text-decoration: none;
  color: var(--color-blue) !important;
  font-size: 1.2rem;
}

main .nav-item .active {
  background: var(--color-yellow) !important;
  color: var(--color-dark-blue) !important;
}

.tab-content {
  font-size: 1.1rem;
  letter-spacing: 2px;
}
