<div class=" d-lg-flex d-none justify-content-between">
	<div class="yellowBlock m-2 col-9 d-flex align-items-center p-2">
		<div class="col">
			<div class="d-flex justify-content-around">
				<a href="https://www.facebook.com/sensactions/" target="_blank" class="d-block">
					<i class="fa-brands fa-facebook-square"></i>
				</a>
				<a href="https://www.linkedin.com/company/sensactions/" target="_blank" class="d-block">
					<i class="fa-brands fa-linkedin"></i>
				</a>
			</div>
			<div>
				<div>
					<a href="https://www.aggregotech.fr/" target="_blank">
						<strong>© Aggrego-Tech 2021</strong>
					</a>
				</div>
			</div>
		</div>


		<div class="col">
			<div class="fs-3">
				<strong>Liens Utiles</strong>
			</div>

			<ul>
				<li><a href="https://travail-emploi.gouv.fr/mot/travailler-mieux-1051" target="_blank"><strong>www.travailler-mieux.gouv.fr</strong></a></li>
				<li><a href="https://www.inrs.fr/" target="_blank"><strong>www.inrs.fr</strong></a></li>
				<li><a href="https://www.anact.fr/" target="_blank"><strong>wwww.anact.fr</strong></a></li>
				<li><a href="https://www.preventionbtp.fr/ressources/questions/qu-est-ce-qu-un-plan-de-prevention_xuN62wwSgkjqvBNgpN4CDd?gclid=EAIaIQobChMIstau7rvm9wIVFfhRCh1lrw3IEAAYASAAEgIAfPD_BwE" target="_blank"><strong>www.preventionbtp</strong></a></li>
			</ul>
		</div>
	</div>

	<div class="col-2 m-2 d-flex flex-column">
		<img class="d-block" src="https://certifopac.fr/wp-content/uploads/2021/09/LogoQualiopi-300dpi-Avec-Marianne.png" alt="">
		<ul class="fs-3 text-center">

			<li>
				<a href="{{path('mentionsLegales')}}" class="mentions">Mentions Légales</a>
			</li>

					<li>
				<a href="{{path('cgv')}}" class="mentions">C.G.V</a>
			</li>
		</ul>
	</div>
</div>

<div class="d-block d-lg-none ">
	<img class="d-block pt-2" src="https://certifopac.fr/wp-content/uploads/2021/09/LogoQualiopi-300dpi-Avec-Marianne.png" alt="">
	<div class="fs-3 text-center mt-5">
		<strong>
			<a href="https://www.sens-actions.fr/mentions-legales" target="_blank" class="mentions">Mentions Légales</a>
		</strong>
	</div>
	<div class="yellowBlock m-auto p-5 col-11">
		<div class="fs-3 text-center m-3 text-uppercase">
			<strong>
				Liens Utiles :
			</strong>
		</div>
		<ul class="m-auto mt-5">
			<li>
				<a href="https://travail-emploi.gouv.fr/mot/travailler-mieux-1051" target="_blank">
					<strong>www.travailler-mieux.gouv.fr</strong>
				</a>
			</li>
			<li>
				<a href="https://www.inrs.fr/" target="_blank">
					<strong>www.inrs.fr</strong>
				</a>
			</li>
			<li>
				<a href="https://www.anact.fr/" target="_blank">
					<strong>wwww.anact.fr</strong>
				</a>
			</li>
			<li>
				<a href="https://www.preventionbtp.fr/ressources/questions/qu-est-ce-qu-un-plan-de-prevention_xuN62wwSgkjqvBNgpN4CDd?gclid=EAIaIQobChMIstau7rvm9wIVFfhRCh1lrw3IEAAYASAAEgIAfPD_BwE" target="_blank">
					<strong>www.preventionbtp</strong>
				</a>
			</li>
		</ul>
		<div class="d-flex justify-content-center">
			<a href="https://www.facebook.com/sensactions/" target="_blank" class="d-block">
				<i class="fa-brands fa-facebook-square m-5"></i>
			</a>
			<a href="https://www.linkedin.com/company/sensactions/" target="_blank" class="d-block">
				<i class="fa-brands fa-linkedin m-5"></i>
			</a>
		</div>
		<div>
			<a href="https://www.aggregotech.fr/" target="_blank">
				<strong>© Aggrego-Tech 2021</strong>
			</a>
		</div>
	</div>
</div>
