<article class="d-lg-flex d-none justify-content-between">
  <article class="yellowBlock m-2 col-9 d-flex align-items-center p-2">
    <article class="col mt-auto mb-3">
      <article>
        <a href="https://www.aggregotech.fr/"
          style="font-size: .8rem"
          target="_blank">
          © Aggrego-Tech 2021
        </a>
      </article>
    </article>
    <article class="col">
      <article class="">
        <a href="https://www.facebook.com/sensactions/" target="_blank">
          <i class="fa-brands fa-facebook-square"></i>
        </a>
        <a href="https://www.linkedin.com/company/sensactions/" target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </article>
      <article></article>
    </article>

    <article class="col">
      <article class="fs-3 ps-5">
        <strong>Liens Utiles</strong>
      </article>

      <ul class="text-capitalize">
        <li>
          <a href="https://travail-emploi.gouv.fr/mot/travailler-mieux-1051"
            target="_blank">
            <strong>travaillermieux.gouv</strong>
          </a>
        </li>
        <li>
          <a href="https://www.preventionbtp.fr/ressources/questions/qu-est-ce-qu-un-plan-de-prevention_xuN62wwSgkjqvBNgpN4CDd?gclid=EAIaIQobChMIstau7rvm9wIVFfhRCh1lrw3IEAAYASAAEgIAfPD_BwE"
            target="_blank">
            <strong>prevention btp</strong>
          </a>
        </li>
        <li class="text-uppercase">
          <a href="https://www.anact.fr/" target="_blank">
            <strong>a.n.a.c.t.</strong>
          </a>
        </li>
        <li class="text-uppercase">
          <a href="https://www.inrs.fr/" target="_blank">
            <strong>i.n.r.s.</strong>
          </a>
        </li>
      </ul>
    </article>
  </article>

  <article class="col-2 m-2 d-flex flex-column">
    <img class="d-block"
      src="https://certifopac.fr/wp-content/uploads/2021/09/LogoQualiopi-300dpi-Avec-Marianne.png"
      alt="" />
    <ul class="fs-3 text-center">
      <li>
        <a href="{{ path('mentionsLegales') }}" class="mentions">
          Mentions Légales
        </a>
      </li>

      <li><a href="{{ path('cgv') }}" class="mentions">C.G.V</a></li>
    </ul>
  </article>
</article>

<article class="d-block d-lg-none">
  <img class="d-block pt-2"
    src="https://certifopac.fr/wp-content/uploads/2021/09/LogoQualiopi-300dpi-Avec-Marianne.png"
    alt="" />
  <article class="fs-3 text-center mt-5">
    <strong>
      <a href="{{ path('mentionsLegales') }}" target="_blank" class="mentions">
        Mentions Légales
      </a>
    </strong>
  </article>
  <article class="yellowBlock m-auto p-5 col-11">
    <article class="fs-3 text-center m-3 text-uppercase">
      <strong>Liens Utiles :</strong>
    </article>

    <ul class="text-capitalize">
      <li>
        <a href="https://travail-emploi.gouv.fr/mot/travailler-mieux-1051"
          target="_blank">
          <strong>travaillermieux.gouv</strong>
        </a>
      </li>
      <li>
        <a href="https://www.preventionbtp.fr/ressources/questions/qu-est-ce-qu-un-plan-de-prevention_xuN62wwSgkjqvBNgpN4CDd?gclid=EAIaIQobChMIstau7rvm9wIVFfhRCh1lrw3IEAAYASAAEgIAfPD_BwE"
          target="_blank">
          <strong>prevention btp</strong>
        </a>
      </li>
      <li class="text-uppercase">
        <a href="https://www.anact.fr/" target="_blank">
          <strong>a.n.a.c.t.</strong>
        </a>
      </li>
      <li class="text-uppercase">
        <a href="https://www.inrs.fr/" target="_blank">
          <strong>i.n.r.s.</strong>
        </a>
      </li>
    </ul>
    <article class="d-flex justify-content-center">
      <a href="https://www.facebook.com/sensactions/"
        target="_blank"
        class="d-block">
        <i class="fa-brands fa-facebook-square m-5"></i>
      </a>
      <a href="https://www.linkedin.com/company/sensactions/"
        target="_blank"
        class="d-block">
        <i class="fa-brands fa-linkedin m-5"></i>
      </a>
    </article>
    <article>
      <a href="https://www.aggregotech.fr/"
        style="font-size: .8rem"
        target="_blank">
        © Aggrego-Tech 2021
      </a>
    </article>
  </article>
</article>
