{% extends "base.html.twig" %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/accompagnement.css') }}">
{% endblock %}
{% block main %}
        <section class="intro">
            <div class="blob1">
                <svg
                    viewBox="0 0 1318.5525 457.76489"
                    version="1.1"
                    id="svg5"
                    inkscape:version="1.1.1 (3bf5ae0d25, 2021-09-20)"
                    sodipodi:docname="blob1-1.svg"
                    xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                    xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:svg="http://www.w3.org/2000/svg">
                    <sodipodi:namedview
                        id="namedview7"
                        pagecolor="#ffffff"
                        bordercolor="#666666"
                        borderopacity="1.0"
                        inkscape:pageshadow="2"
                        inkscape:pageopacity="0.0"
                        inkscape:pagecheckerboard="0"
                        inkscape:document-units="px"
                        showgrid="false"
                        fit-margin-top="50"
                        lock-margins="false"
                        fit-margin-left="50"
                        fit-margin-right="50"
                        fit-margin-bottom="50"
                        inkscape:snap-global="false"
                        inkscape:zoom="0.47074979"
                        inkscape:cx="577.80164"
                        inkscape:cy="527.88127"
                        inkscape:window-width="1920"
                        inkscape:window-height="1001"
                        inkscape:window-x="-9"
                        inkscape:window-y="1341"
                        inkscape:window-maximized="1"
                        inkscape:current-layer="layer1" />
                    <defs
                        id="defs2" />
                    <g
                        inkscape:label="Calque 1"
                        inkscape:groupmode="layer"
                        id="layer1"
                        transform="translate(-382.4495,-13.28442)">
                        <path>
                        <animate attributeName="d"
                                dur="20s"
                                repeatCount="indefinite"

                                values="
                                m 426.00994,42.402297 c 60.77062,-29.785751 135.41777,2.797585 202.85496,8.497083 72.5508,6.131677 143.86907,28.265222 216.67562,27.615519 73.6997,-0.657674 145.10113,-32.620763 218.79988,-31.864061 60.2968,0.619098 118.1388,29.599989 178.4387,29.73979 75.3175,0.174618 147.7388,-35.018044 223.0485,-36.112602 59.421,-0.863631 123.4524,-2.931525 176.744,23.366978 3.4114,1.68345 6.2359,4.736868 8.0698,8.069752 18.7146,34.010984 29.1888,74.992194 25.4912,113.635594 -4.0472,42.29813 -47.066,74.52444 -50.9824,116.83489 -3.4821,37.61839 35.9053,74.11825 25.4912,110.43374 -1.0486,3.65674 -4.4707,6.83767 -8.0698,8.06976 -48.0795,16.45934 -100.497,-21.64672 -151.2528,-19.11844 -69.6524,3.46957 -134.1943,46.08049 -203.93,46.73396 -75.9606,0.7118 -147.0984,-45.27823 -223.0484,-46.73396 -76.11807,-1.45896 -149.04383,38.93272 -225.1727,38.23688 -76.37871,-0.69813 -148.81692,-40.48756 -225.17269,-42.48542 -58.20844,-1.52303 -117.94647,41.99375 -173.11517,23.36698 -3.60423,-1.21691 -6.43172,-4.63637 -8.06975,-8.06976 -17.47119,-36.62058 -16.0744,-80.61713 -12.74562,-121.05509 3.49521,-42.45965 38.21866,-80.81499 33.98833,-123.20771 -3.58425,-35.91822 -51.55211,-60.64547 -48.85823,-96.641424 0.89435,-11.950366 10.05462,-24.038248 20.81537,-29.312459 z;

                                m 500.35942,67.893546 c 47.44615,-6.118069 95.55673,7.767376 143.37538,6.372812 69.01944,-2.012855 137.00846,-20.600852 206.05426,-21.242708 58.97759,-0.54826 117.33434,14.881854 176.31444,14.869895 83.8542,-0.017 166.8182,-22.432383 250.6639,-21.242707 69.1181,0.980708 136.9504,25.071659 206.0544,23.366978 48.2038,-1.189108 98.2471,-41.914509 142.7556,-23.366978 22.3069,9.295682 40.1224,34.963687 42.0582,59.052252 2.4348,30.29898 -37.6262,51.49818 -40.3612,81.77153 -3.7107,41.07252 42.2957,78.56472 33.9884,118.95916 -4.9663,24.14878 -43.9511,32.83038 -46.734,57.32697 -2.3878,21.0182 38.8311,38.73243 28.0428,56.92799 -25.3752,42.79777 -99.3938,7.78966 -149.1285,6.37281 -71.1334,-2.02646 -141.2676,-20.63031 -212.4271,-21.2427 -85.9678,-0.73984 -171.0743,22.45485 -257.0367,21.2427 -51.29118,-0.72325 -101.67524,-15.42702 -152.94754,-16.99416 -85.74414,-2.62077 -171.26746,11.14687 -257.03675,12.74562 -57.69938,1.07552 -119.93514,20.28686 -173.11517,-2.12427 -3.50555,-1.47731 -6.91444,-4.44532 -8.06975,-8.06976 -11.55786,-36.2592 20.07776,-74.51339 19.11844,-112.55801 -0.98737,-39.15717 -21.21719,-75.77489 -25.49125,-114.71062 -3.4378,-31.3176 -18.68718,-69.15183 0,-94.517158 15.30284,-20.77155 48.3341,-19.64013 73.92214,-22.939646 z;

                                m 496.11087,42.402297 c 47.57656,-13.054902 98.50174,6.041986 147.62393,10.621354 68.12606,6.350986 135.50859,23.284771 203.92999,23.366977 76.2406,0.0916 151.13098,-28.863734 227.29701,-25.491249 49.805,2.205267 96.7214,29.496851 146.5746,29.73979 59.8528,0.291668 116.7321,-28.297833 176.3145,-33.988331 75.565,-7.216936 167.4425,-46.13015844 227.7265,0 16.778,12.838783 10.1299,41.054351 16.5669,61.176522 9.3165,29.12349 32.0956,55.4436 31.864,86.02007 -0.2819,37.21241 -39.1718,66.8948 -40.361,104.08927 -0.9015,28.19378 35.8074,54.43983 25.4912,80.69395 -6.1923,15.75922 -27.6721,21.30773 -44.1824,25.06392 -40.2804,9.16404 -82.3949,-10.85259 -123.6373,-8.49708 -66.1393,3.77747 -129.2776,32.62662 -195.4329,36.1126 -82.2712,4.33519 -164.214,-24.62025 -246.4154,-19.11844 -50.57838,3.38525 -98.00826,31.56872 -148.69895,31.86407 -67.9054,0.39565 -131.7751,-40.19057 -199.68144,-40.36115 -69.63814,-0.17493 -143.45306,72.98064 -204.97923,40.36115 -18.89272,-10.01641 -13.10447,-41.32559 -25.06392,-59.05226 -15.67783,-23.23819 -53.4261,-32.08039 -59.47957,-59.45124 -8.46545,-38.27665 37.46341,-71.36772 40.36114,-110.46208 3.12539,-42.16591 -41.19432,-84.99951 -25.49125,-124.256944 10.50454,-26.261194 42.39762,-40.946434 69.67359,-48.430899 z;

                                m 510.98077,72.142087 c 51.32833,1.385019 98.58073,-31.822326 149.7482,-36.112602 50.92657,-4.270078 102.13386,5.169242 152.94749,10.621353 39.1302,4.198524 77.49158,16.044861 116.83493,16.994165 81.07361,1.956201 163.47441,-42.969716 242.16681,-23.366978 75.0443,18.694005 132.7971,67.747195 201.8057,46.733957 81.0959,-24.693819 148.6597,-54.811945 223.478,-42.485415 29.5328,4.865619 68.0908,15.999825 78.1707,44.182357 11.8892,33.240806 -39.3493,63.480206 -38.2369,98.765696 0.6389,20.26657 23.4993,35.05249 25.4914,55.23104 3.5761,36.22462 -25.6627,69.7849 -25.4913,106.1852 0.099,21.01979 27.1167,43.79434 15.2972,61.17652 -33.4159,49.14252 -117.4266,26.97883 -176.7441,23.36698 -42.342,-2.57821 -83.7672,-16.24544 -123.2077,-31.86406 -92.2197,-36.51943 -144.0028,18.63082 -225.1727,-8.49709 -73.6441,-24.61271 -154.3416,10.61512 -227.29695,33.98834 -56.38477,18.0644 -94.55931,-15.91358 -142.32613,-16.99417 -77.01236,-1.74219 -153.46652,14.91355 -230.47048,16.99417 -28.88425,0.78045 -69.62544,21.6369 -86.66777,-1.69695 -20.47586,-28.03493 32.0266,-65.17152 29.7398,-99.81238 -2.96466,-44.90917 -47.01751,-78.95659 -55.23104,-123.2077 -9.51115,-51.24214 -34.13356,-126.140223 8.49708,-156.121009 24.66473,-17.34593 56.52528,25.105226 86.66776,25.918576 z;

                                m 426.00994,42.402297 c 60.77062,-29.785751 135.41777,2.797585 202.85496,8.497083 72.5508,6.131677 143.86907,28.265222 216.67562,27.615519 73.6997,-0.657674 145.10113,-32.620763 218.79988,-31.864061 60.2968,0.619098 118.1388,29.599989 178.4387,29.73979 75.3175,0.174618 147.7388,-35.018044 223.0485,-36.112602 59.421,-0.863631 123.4524,-2.931525 176.744,23.366978 3.4114,1.68345 6.2359,4.736868 8.0698,8.069752 18.7146,34.010984 29.1888,74.992194 25.4912,113.635594 -4.0472,42.29813 -47.066,74.52444 -50.9824,116.83489 -3.4821,37.61839 35.9053,74.11825 25.4912,110.43374 -1.0486,3.65674 -4.4707,6.83767 -8.0698,8.06976 -48.0795,16.45934 -100.497,-21.64672 -151.2528,-19.11844 -69.6524,3.46957 -134.1943,46.08049 -203.93,46.73396 -75.9606,0.7118 -147.0984,-45.27823 -223.0484,-46.73396 -76.11807,-1.45896 -149.04383,38.93272 -225.1727,38.23688 -76.37871,-0.69813 -148.81692,-40.48756 -225.17269,-42.48542 -58.20844,-1.52303 -117.94647,41.99375 -173.11517,23.36698 -3.60423,-1.21691 -6.43172,-4.63637 -8.06975,-8.06976 -17.47119,-36.62058 -16.0744,-80.61713 -12.74562,-121.05509 3.49521,-42.45965 38.21866,-80.81499 33.98833,-123.20771 -3.58425,-35.91822 -51.55211,-60.64547 -48.85823,-96.641424 0.89435,-11.950366 10.05462,-24.038248 20.81537,-29.312459 z
                            ">
                        </path>
                    </g>
                </svg>
                <article class="textIntro">
                    <h2>Notre accompagnement</h2>
                    <p>Les formations professionnelles techniques regroupent les formations liées à la santé et sécurité au travail et en outils de développement des compétences. Aujourd'hui de nouvelles obligations légales obligent les entreprises à désigner des personnes compétentes en prévention et à réaliser certaines formations. Sens Actions à Marseille vous aide dans vos démarches de prévention et met en place plusieurs formations actions adaptées au projet singulier de votre organisation. N’hésitez pas à nous contacter pour un devis personnalisé ! </p>
                </article>
            </div>
        </section>
        <section class="demarche">
            <div class="blob2">
                <svg
                    viewBox="0 0 1318.5525 457.76489"
                    version="1.1"
                    id="svg5"
                    sodipodi:docname="blobMillieu1.1.svg"
                    inkscape:version="1.1.1 (3bf5ae0d25, 2021-09-20)"
                    xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                    xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:svg="http://www.w3.org/2000/svg">
                    <sodipodi:namedview
                        id="namedview7"
                        pagecolor="#ffffff"
                        bordercolor="#666666"
                        borderopacity="1.0"
                        inkscape:pageshadow="2"
                        inkscape:pageopacity="0.0"
                        inkscape:pagecheckerboard="0"
                        inkscape:document-units="px"
                        showgrid="false"
                        fit-margin-top="50"
                        lock-margins="false"
                        fit-margin-left="50"
                        fit-margin-right="50"
                        fit-margin-bottom="50"
                        inkscape:snap-global="false"
                        inkscape:zoom="0.47074979"
                        inkscape:cx="594.7958"
                        inkscape:cy="527.88127"
                        inkscape:window-width="1920"
                        inkscape:window-height="1001"
                        inkscape:window-x="-9"
                        inkscape:window-y="1341"
                        inkscape:window-maximized="1"
                        inkscape:current-layer="layer1" />
                    <defs
                        id="defs2" />
                    <g
                        inkscape:label="Calque 1"
                        inkscape:groupmode="layer"
                        id="layer1"
                        transform="translate(-382.4495,-13.28442)">
                        <path>
                            <animate 
                                attributeName="d"
                                dur="10s"
                                repeatCount="indefinite"
                                values="
                                m 857.23689,125.24886 c 1.51488,-20.3694 9.95931,-43.303285 26.5405,-55.231043 27.80586,-20.002276 68.0943,-7.643419 101.965,-12.745625 36.26151,-5.462349 72.39691,-26.397172 108.33781,-19.118438 28.1049,5.691778 45.7932,35.614937 72.2252,46.733957 20.7428,8.725797 48.2181,0.889927 65.8524,14.869894 12.9547,10.270175 13.6265,30.167835 21.6722,44.609685 8.8908,15.95867 24.8437,28.59351 29.3125,46.30663 4.9477,19.61141 1.2101,41.05343 -4.2485,60.52882 -6.6667,23.78548 -27.1231,42.12346 -33.9883,65.8524 -4.5407,15.69447 -3.8923,32.49565 -4.2485,48.82988 -0.4296,19.69777 14.089,43.08127 2.5515,59.05226 -12.1554,16.8263 -39.1626,16.31643 -59.9091,16.99416 -30.3988,0.99305 -59.1082,-23.40552 -89.2195,-19.11843 -20.7009,2.94728 -34.3218,29.87733 -55.231,29.73978 -21.8702,-0.14388 -35.8133,-28.0865 -57.35526,-31.86405 -21.90031,-3.84039 -44.23401,15.81922 -65.85239,10.62134 -17.48497,-4.20405 -37.0293,-15.09865 -43.53465,-31.86405 -8.04738,-20.73945 19.37186,-44.06018 13.17295,-65.42507 -6.27806,-21.63766 -42.16121,-26.76878 -46.73395,-48.82988 -4.1379,-19.96326 13.65239,-38.43334 21.24271,-57.35531 5.31202,-13.24237 16.2185,-25.03915 16.99416,-39.28612 1.20051,-22.05059 -21.18359,-41.27837 -19.54578,-63.30079 z;

                                m 844.49127,116.75178 c -3.37406,-27.826422 13.06034,-64.454929 39.28612,-74.349482 35.43638,-13.369559 68.54275,36.437721 106.21354,40.361143 36.35757,3.786645 72.23387,-11.274193 108.33777,-16.994168 35.4132,-5.610539 76.5554,-37.142637 106.2136,-16.994164 16.2,11.0056 1.3561,41.422837 12.7456,57.355311 12.6424,17.68502 49.6018,13.11056 55.6605,33.98833 5.8955,20.31525 -29.1291,35.8025 -28.0428,56.92798 1.0946,21.28458 28.8548,33.47082 33.9884,54.15601 4.6177,18.60637 -1.0329,38.45611 -4.2485,57.35532 -3.1965,18.78679 -7.1091,37.79776 -14.8699,55.20269 -7.838,17.57813 -17.881,34.76837 -31.4368,48.43091 -12.6714,12.77112 -27.3135,32.81633 -45.0392,29.73978 -13.9532,-2.42178 -11.9426,-29.86673 -25.4914,-33.98833 -14.3546,-4.36673 -27.5042,15.70103 -42.4854,14.86989 -19.6057,-1.08772 -33.4901,-26.36392 -53.1067,-25.49124 -30.4506,1.35466 -48.7931,40.35042 -78.59799,46.73394 -30.31299,6.49236 -66.42273,6.30733 -92.39287,-10.62134 -23.23582,-15.14629 -40.70927,-44.0942 -42.05809,-71.79788 -0.98563,-20.24406 26.05596,-34.94252 25.49125,-55.20269 -0.71487,-25.64793 -41.57606,-42.9072 -36.1126,-67.97667 6.07606,-27.88042 65.26917,-23.62565 67.97666,-52.03174 2.95044,-30.95505 -58.28819,-38.80436 -62.03119,-69.6736 z;

                                m 895.47377,99.757614 c 2.22758,-13.498287 -16.62945,-30.218971 -7.44784,-40.36115 34.33442,-37.926418 101.83128,14.842756 152.94747,12.745623 34.4282,-1.412476 67.7988,-12.52563 101.965,-16.994168 29.6221,-3.874226 62.7306,-22.310911 89.2194,-8.497081 16.5875,8.650306 28.7713,30.186442 27.6155,48.858228 -1.3071,21.116714 -32.9105,30.399874 -37.8074,50.982494 -4.6234,19.43282 4.0329,40.05095 10.1941,59.05225 6.4454,19.87796 15.9368,38.9516 27.6156,56.28028 10.0893,14.97032 29.1767,23.69386 36.1126,40.36116 9.262,22.25703 19.9549,53.90834 4.2485,72.19685 -18.9033,22.01111 -59.8738,-3.06166 -86.6678,8.06977 -11.2368,4.6683 -19.2254,14.98405 -28.045,23.36697 -9.0802,8.63055 -12.9783,27.01772 -25.4914,27.61552 -18.0323,0.86146 -22.4381,-33.95198 -40.3612,-36.11261 -23.902,-2.88138 -39.6615,33.34645 -63.728,33.98834 -23.4336,0.62501 -40.8426,-24.66266 -63.72811,-29.7398 -31.44918,-6.97699 -73.97323,22.88849 -96.64141,10e-6 -10.36389,-10.46461 6.308,-30.67918 0.42733,-44.18236 C 887.09815,337.17465 849.804,334.68 847.04288,312.8066 c -3.07451,-24.35611 40.08142,-37.05605 40.36115,-61.60386 0.28988,-25.43919 -39.75532,-39.34373 -40.36115,-64.77736 -0.78808,-33.08451 43.04239,-54.01551 48.43089,-86.667766 z;

                                m 895.47377,99.757614 c 11.3556,-14.679957 28.80645,-24.089446 45.65893,-31.864067 30.5663,-14.101277 64.485,-20.123134 97.7164,-25.49125 32.2237,-5.205318 65.0836,-7.115864 97.7165,-6.372814 32.0518,0.729818 68.8368,-7.042166 95.5922,10.621355 15.6122,10.306895 18.3134,32.627316 27.6155,48.858228 8.5514,14.921134 24.5464,27.466794 25.9207,44.609684 1.9273,24.0399 -21.5252,43.83582 -25.9185,67.54933 -3.2884,17.74996 0.5303,36.1118 10e-5,54.15601 -0.3542,12.05315 0.157,24.27204 -2.1243,36.11262 -3.3873,17.58112 -8.3884,35.25351 -16.9942,50.95414 -6.9201,12.62516 -17.0782,23.31069 -27.1882,33.56102 -8.5446,8.66314 -17.2887,17.67826 -28.045,23.36697 -9.1139,4.82008 -19.7092,6.11393 -29.7399,8.49708 -14.7274,3.49898 -29.4827,7.94209 -44.6098,8.49708 -18.52,0.67947 -36.729,-5.30892 -55.2309,-6.37281 -26.8631,-1.54467 -53.9756,2.93659 -80.72228,0 -22.70828,-2.49321 -47.07119,-3.5281 -66.90162,-14.86989 -12.43699,-7.1132 -21.84707,-19.2079 -29.31246,-31.43674 -9.7987,-16.05097 -14.83561,-34.76707 -19.11844,-53.07842 -5.68092,-24.28898 -10.17381,-49.46142 -8.49707,-74.34948 1.74286,-25.86964 11.41115,-50.64244 19.11843,-75.39872 7.13898,-22.93087 10.36939,-48.55298 25.06391,-67.549326 z;

                                m 857.23689,125.24886 c 1.51488,-20.3694 9.95931,-43.303285 26.5405,-55.231043 27.80586,-20.002276 68.0943,-7.643419 101.965,-12.745625 36.26151,-5.462349 72.39691,-26.397172 108.33781,-19.118438 28.1049,5.691778 45.7932,35.614937 72.2252,46.733957 20.7428,8.725797 48.2181,0.889927 65.8524,14.869894 12.9547,10.270175 13.6265,30.167835 21.6722,44.609685 8.8908,15.95867 24.8437,28.59351 29.3125,46.30663 4.9477,19.61141 1.2101,41.05343 -4.2485,60.52882 -6.6667,23.78548 -27.1231,42.12346 -33.9883,65.8524 -4.5407,15.69447 -3.8923,32.49565 -4.2485,48.82988 -0.4296,19.69777 14.089,43.08127 2.5515,59.05226 -12.1554,16.8263 -39.1626,16.31643 -59.9091,16.99416 -30.3988,0.99305 -59.1082,-23.40552 -89.2195,-19.11843 -20.7009,2.94728 -34.3218,29.87733 -55.231,29.73978 -21.8702,-0.14388 -35.8133,-28.0865 -57.35526,-31.86405 -21.90031,-3.84039 -44.23401,15.81922 -65.85239,10.62134 -17.48497,-4.20405 -37.0293,-15.09865 -43.53465,-31.86405 -8.04738,-20.73945 19.37186,-44.06018 13.17295,-65.42507 -6.27806,-21.63766 -42.16121,-26.76878 -46.73395,-48.82988 -4.1379,-19.96326 13.65239,-38.43334 21.24271,-57.35531 5.31202,-13.24237 16.2185,-25.03915 16.99416,-39.28612 1.20051,-22.05059 -21.18359,-41.27837 -19.54578,-63.30079 z
                            ">
                        </path>
                    </g>
                </svg>
                <article class="textDemarche">
                    <article class="textDemarche1">
                        <h2>Assistance aux dirigeants</h2>
                        <ul>
                            <li>Conseiller l’employeur sur la démarche d’évaluation des risques professionnels.</li>
                            <li>Réaliser des diagnostics en situation de travail en vue d’élaborer et/ou de mettre à jour le Document Unique.</li>
                            <li>Proposer, planifier et suivre la mise en œuvre des actions de prévention.</li>
                            <li>Assurer la veille réglementaire.</li>
                            <li>Synthétiser à chaque étape.</li>
                        </ul>
                        {# <p>Conseiller sur la démarche d'évaluation des risques professionnels. Réaliser des diagnostics en situation de travail en vue d'élaborer et/ou de mettre à jour le Document Unique. Proposer des actions de prévention. Participer à la planification et au suivi de la mise en œuvre du plan d'action. Assurer la veille réglementaire. </p> #}
                    </article>
                    <article class="textDemarche2">
                        <h2>Démarche de performance durable</h2>
                        <ul>
                        <li>Évaluer le niveau de bien être des collaborateurs.</li>
                        <li>Choisir les actions les plus efficaces : traitement des douleurs physiques, gestion du stress, des conflits, du temps …</li>
                        <li>Aider les collaborateurs à construire durablement des bonnes habitudes.</li>
                        <li>Synthétiser à chaque étape.</li>
                        </ul>
                        {# <p>Évaluer le niveau de bien-être des collaborateurs. Choisir les actions les plus efficaces : alimentation, traitement des douleurs physiques, sommeil, gestion du stress, des conflits, du temps, activité physique...  Aider les collaborateurs à construire durablement de bonnes habitudes.... </p> #}
                    </article>
                </article>
            </div>
        </section>
        <section class="audit">
            <div class="blob3">
                <svg
                    viewBox="0 0 1318.5525 457.76489"
                    version="1.1"
                    id="svg5"
                    inkscape:version="1.1.1 (3bf5ae0d25, 2021-09-20)"
                    sodipodi:docname="blob1-1.svg"
                    xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                    xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:svg="http://www.w3.org/2000/svg">
                    <sodipodi:namedview
                        id="namedview7"
                        pagecolor="#ffffff"
                        bordercolor="#666666"
                        borderopacity="1.0"
                        inkscape:pageshadow="2"
                        inkscape:pageopacity="0.0"
                        inkscape:pagecheckerboard="0"
                        inkscape:document-units="px"
                        showgrid="false"
                        fit-margin-top="50"
                        lock-margins="false"
                        fit-margin-left="50"
                        fit-margin-right="50"
                        fit-margin-bottom="50"
                        inkscape:snap-global="false"
                        inkscape:zoom="0.47074979"
                        inkscape:cx="577.80164"
                        inkscape:cy="527.88127"
                        inkscape:window-width="1920"
                        inkscape:window-height="1001"
                        inkscape:window-x="-9"
                        inkscape:window-y="1341"
                        inkscape:window-maximized="1"
                        inkscape:current-layer="layer1" />
                    <defs
                        id="defs2" />
                    <g
                        inkscape:label="Calque 1"
                        inkscape:groupmode="layer"
                        id="layer1"
                        transform="translate(-382.4495,-13.28442)">
                        <path>
                                <animate attributeName="d"
                                    dur="20s"
                                    repeatCount="indefinite"

                                    values="
                                    m 426.00994,42.402297 c 60.77062,-29.785751 135.41777,2.797585 202.85496,8.497083 72.5508,6.131677 143.86907,28.265222 216.67562,27.615519 73.6997,-0.657674 145.10113,-32.620763 218.79988,-31.864061 60.2968,0.619098 118.1388,29.599989 178.4387,29.73979 75.3175,0.174618 147.7388,-35.018044 223.0485,-36.112602 59.421,-0.863631 123.4524,-2.931525 176.744,23.366978 3.4114,1.68345 6.2359,4.736868 8.0698,8.069752 18.7146,34.010984 29.1888,74.992194 25.4912,113.635594 -4.0472,42.29813 -47.066,74.52444 -50.9824,116.83489 -3.4821,37.61839 35.9053,74.11825 25.4912,110.43374 -1.0486,3.65674 -4.4707,6.83767 -8.0698,8.06976 -48.0795,16.45934 -100.497,-21.64672 -151.2528,-19.11844 -69.6524,3.46957 -134.1943,46.08049 -203.93,46.73396 -75.9606,0.7118 -147.0984,-45.27823 -223.0484,-46.73396 -76.11807,-1.45896 -149.04383,38.93272 -225.1727,38.23688 -76.37871,-0.69813 -148.81692,-40.48756 -225.17269,-42.48542 -58.20844,-1.52303 -117.94647,41.99375 -173.11517,23.36698 -3.60423,-1.21691 -6.43172,-4.63637 -8.06975,-8.06976 -17.47119,-36.62058 -16.0744,-80.61713 -12.74562,-121.05509 3.49521,-42.45965 38.21866,-80.81499 33.98833,-123.20771 -3.58425,-35.91822 -51.55211,-60.64547 -48.85823,-96.641424 0.89435,-11.950366 10.05462,-24.038248 20.81537,-29.312459 z;

                                    m 510.98077,72.142087 c 51.32833,1.385019 98.58073,-31.822326 149.7482,-36.112602 50.92657,-4.270078 102.13386,5.169242 152.94749,10.621353 39.1302,4.198524 77.49158,16.044861 116.83493,16.994165 81.07361,1.956201 163.47441,-42.969716 242.16681,-23.366978 75.0443,18.694005 132.7971,67.747195 201.8057,46.733957 81.0959,-24.693819 148.6597,-54.811945 223.478,-42.485415 29.5328,4.865619 68.0908,15.999825 78.1707,44.182357 11.8892,33.240806 -39.3493,63.480206 -38.2369,98.765696 0.6389,20.26657 23.4993,35.05249 25.4914,55.23104 3.5761,36.22462 -25.6627,69.7849 -25.4913,106.1852 0.099,21.01979 27.1167,43.79434 15.2972,61.17652 -33.4159,49.14252 -117.4266,26.97883 -176.7441,23.36698 -42.342,-2.57821 -83.7672,-16.24544 -123.2077,-31.86406 -92.2197,-36.51943 -144.0028,18.63082 -225.1727,-8.49709 -73.6441,-24.61271 -154.3416,10.61512 -227.29695,33.98834 -56.38477,18.0644 -94.55931,-15.91358 -142.32613,-16.99417 -77.01236,-1.74219 -153.46652,14.91355 -230.47048,16.99417 -28.88425,0.78045 -69.62544,21.6369 -86.66777,-1.69695 -20.47586,-28.03493 32.0266,-65.17152 29.7398,-99.81238 -2.96466,-44.90917 -47.01751,-78.95659 -55.23104,-123.2077 -9.51115,-51.24214 -34.13356,-126.140223 8.49708,-156.121009 24.66473,-17.34593 56.52528,25.105226 86.66776,25.918576 z;

                                    m 496.11087,42.402297 c 47.57656,-13.054902 98.50174,6.041986 147.62393,10.621354 68.12606,6.350986 135.50859,23.284771 203.92999,23.366977 76.2406,0.0916 151.13098,-28.863734 227.29701,-25.491249 49.805,2.205267 96.7214,29.496851 146.5746,29.73979 59.8528,0.291668 116.7321,-28.297833 176.3145,-33.988331 75.565,-7.216936 167.4425,-46.13015844 227.7265,0 16.778,12.838783 10.1299,41.054351 16.5669,61.176522 9.3165,29.12349 32.0956,55.4436 31.864,86.02007 -0.2819,37.21241 -39.1718,66.8948 -40.361,104.08927 -0.9015,28.19378 35.8074,54.43983 25.4912,80.69395 -6.1923,15.75922 -27.6721,21.30773 -44.1824,25.06392 -40.2804,9.16404 -82.3949,-10.85259 -123.6373,-8.49708 -66.1393,3.77747 -129.2776,32.62662 -195.4329,36.1126 -82.2712,4.33519 -164.214,-24.62025 -246.4154,-19.11844 -50.57838,3.38525 -98.00826,31.56872 -148.69895,31.86407 -67.9054,0.39565 -131.7751,-40.19057 -199.68144,-40.36115 -69.63814,-0.17493 -143.45306,72.98064 -204.97923,40.36115 -18.89272,-10.01641 -13.10447,-41.32559 -25.06392,-59.05226 -15.67783,-23.23819 -53.4261,-32.08039 -59.47957,-59.45124 -8.46545,-38.27665 37.46341,-71.36772 40.36114,-110.46208 3.12539,-42.16591 -41.19432,-84.99951 -25.49125,-124.256944 10.50454,-26.261194 42.39762,-40.946434 69.67359,-48.430899 z;
                                    
                                    m 500.35942,67.893546 c 47.44615,-6.118069 95.55673,7.767376 143.37538,6.372812 69.01944,-2.012855 137.00846,-20.600852 206.05426,-21.242708 58.97759,-0.54826 117.33434,14.881854 176.31444,14.869895 83.8542,-0.017 166.8182,-22.432383 250.6639,-21.242707 69.1181,0.980708 136.9504,25.071659 206.0544,23.366978 48.2038,-1.189108 98.2471,-41.914509 142.7556,-23.366978 22.3069,9.295682 40.1224,34.963687 42.0582,59.052252 2.4348,30.29898 -37.6262,51.49818 -40.3612,81.77153 -3.7107,41.07252 42.2957,78.56472 33.9884,118.95916 -4.9663,24.14878 -43.9511,32.83038 -46.734,57.32697 -2.3878,21.0182 38.8311,38.73243 28.0428,56.92799 -25.3752,42.79777 -99.3938,7.78966 -149.1285,6.37281 -71.1334,-2.02646 -141.2676,-20.63031 -212.4271,-21.2427 -85.9678,-0.73984 -171.0743,22.45485 -257.0367,21.2427 -51.29118,-0.72325 -101.67524,-15.42702 -152.94754,-16.99416 -85.74414,-2.62077 -171.26746,11.14687 -257.03675,12.74562 -57.69938,1.07552 -119.93514,20.28686 -173.11517,-2.12427 -3.50555,-1.47731 -6.91444,-4.44532 -8.06975,-8.06976 -11.55786,-36.2592 20.07776,-74.51339 19.11844,-112.55801 -0.98737,-39.15717 -21.21719,-75.77489 -25.49125,-114.71062 -3.4378,-31.3176 -18.68718,-69.15183 0,-94.517158 15.30284,-20.77155 48.3341,-19.64013 73.92214,-22.939646 z;

                                    m 426.00994,42.402297 c 60.77062,-29.785751 135.41777,2.797585 202.85496,8.497083 72.5508,6.131677 143.86907,28.265222 216.67562,27.615519 73.6997,-0.657674 145.10113,-32.620763 218.79988,-31.864061 60.2968,0.619098 118.1388,29.599989 178.4387,29.73979 75.3175,0.174618 147.7388,-35.018044 223.0485,-36.112602 59.421,-0.863631 123.4524,-2.931525 176.744,23.366978 3.4114,1.68345 6.2359,4.736868 8.0698,8.069752 18.7146,34.010984 29.1888,74.992194 25.4912,113.635594 -4.0472,42.29813 -47.066,74.52444 -50.9824,116.83489 -3.4821,37.61839 35.9053,74.11825 25.4912,110.43374 -1.0486,3.65674 -4.4707,6.83767 -8.0698,8.06976 -48.0795,16.45934 -100.497,-21.64672 -151.2528,-19.11844 -69.6524,3.46957 -134.1943,46.08049 -203.93,46.73396 -75.9606,0.7118 -147.0984,-45.27823 -223.0484,-46.73396 -76.11807,-1.45896 -149.04383,38.93272 -225.1727,38.23688 -76.37871,-0.69813 -148.81692,-40.48756 -225.17269,-42.48542 -58.20844,-1.52303 -117.94647,41.99375 -173.11517,23.36698 -3.60423,-1.21691 -6.43172,-4.63637 -8.06975,-8.06976 -17.47119,-36.62058 -16.0744,-80.61713 -12.74562,-121.05509 3.49521,-42.45965 38.21866,-80.81499 33.98833,-123.20771 -3.58425,-35.91822 -51.55211,-60.64547 -48.85823,-96.641424 0.89435,-11.950366 10.05462,-24.038248 20.81537,-29.312459 z
                                ">
                        </path>
                    </g>
                </svg>
                <article class="textAudits">
                    <h2>Audits</h2>
                    <p>Conseiller sur la démarche d'évaluation des risques professionnels. Réaliser des diagnostics en situation de travail en vue d'élaborer et/ou de mettre à jour le Document Unique. Proposer des actions de prévention. Participer à la planification et au suivi de la mise en œuvre du plan d'action. Assurer la veille réglementaire. Évaluer le niveau de bien-être des collaborateurs. Choisir les actions les plus efficaces : alimentation, traitement des douleurs physiques, sommeil, gestion du stress, des conflits, du temps, activité physique...  </p>
                </article>
            </div>
        </section>
{% endblock %}
