{% extends "base.html.twig" %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{asset("css/accueil.css")}}">
{% endblock %}
{% block main %}
           <section class="section1">
            <article>
                <article class="anne">
                    <img src="{{asset("img/AnneB.png")}}" alt="ceci est une photo de Anne Buonomo, Fondatrice de Sens Actions">
                    <h3>Anne Buonomo</h3>
                    <p>Fondatrice et directrice</p>
                </article>
                <article class="marielle">
                    <img src="{{asset("img/MarielleP.png")}}" alt="ceci est une Photo de Marielle Pagano, Psychologue du travail">
                    <h3>Marielle Pagano</h3>
                    <p>Directrice associée </p>
                </article>
            </article>
            <div class="blob blob1">
                <div>
                    <svg viewBox="0 0 800 500" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" id="blobSvg">
                        <g transform="translate(153.23989868164062, 4.415355682373047)">
                            <path class="blob" fill="#ebbd04">
                                <animate attributeName="d"
                                    dur="20s"
                                    repeatCount="indefinite"

                                    values="M453,325Q429,400,358,430Q287,460,214.5,448Q142,436,88,382.5Q34,329,30,248.5Q26,168,87,121Q148,74,219,49Q290,24,354,66.5Q418,109,447.5,179.5Q477,250,453,325Z;
                                    M452,325Q429,400,361,447Q293,494,215,470.5Q137,447,76.5,391Q16,335,30,255Q44,175,92.5,118Q141,61,216,38Q291,15,349,66.5Q407,118,441,184Q475,250,452,325Z;
                                    M432.5,316.5Q408,383,350.5,439Q293,495,219,463.5Q145,432,92.5,379Q40,326,44,251Q48,176,96.5,122Q145,68,217,49Q289,30,353,70Q417,110,437,180Q457,250,432.5,316.5Z;
                                    M448.5,327Q433,404,361,439Q289,474,209.5,466Q130,458,79,394.5Q28,331,27.5,250Q27,169,77,103.5Q127,38,207,40Q287,42,361,68.5Q435,95,449.5,172.5Q464,250,448.5,327Z;
                                    M447.5,329.5Q439,409,364.5,443Q290,477,219,452Q148,427,85,380Q22,333,35,254.5Q48,176,99,126Q150,76,221.5,41.5Q293,7,359,55Q425,103,440.5,176.5Q456,250,447.5,329.5Z;
                                    M453,325Q429,400,358,430Q287,460,214.5,448Q142,436,88,382.5Q34,329,30,248.5Q26,168,87,121Q148,74,219,49Q290,24,354,66.5Q418,109,447.5,179.5Q477,250,453,325Z">
                            </path>
                        </g>
                    </svg>
                </div>
                <article>
                    <h2>Qui sommes-nous ?</h2>
                    <p >Un réseau ouvert de personnes qualifiées et référentes dans leur domaine d'expertise</p> 
                    <p >Une équipe pluridisciplinaire spécialisée en gestion des Ressources Humaines, management et Santé au travail dotée d'une expérience spécifique dans le secteur sanitaire et social, les Services à la Personne, l'insertion par le travail, et également dans d'autres secteurs d’activités.</p>
                </article>
            </div>
        </section>


        <section class="section2">
            <div class="blob blob2">
                <svg viewBox="0 0 800 500" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" id="blobSvg">
                    <g transform="translate(153.23989868164062, 4.415355682373047)">
                      <path class="blob" fill="#ebbd04">
                        <animate attributeName="d"
                                    dur="20s"
                                    repeatCount="indefinite"

                                    values="M453,325Q429,400,358,430Q287,460,214.5,448Q142,436,88,382.5Q34,329,30,248.5Q26,168,87,121Q148,74,219,49Q290,24,354,66.5Q418,109,447.5,179.5Q477,250,453,325Z;
                                    M452,325Q429,400,361,447Q293,494,215,470.5Q137,447,76.5,391Q16,335,30,255Q44,175,92.5,118Q141,61,216,38Q291,15,349,66.5Q407,118,441,184Q475,250,452,325Z;
                                    M432.5,316.5Q408,383,350.5,439Q293,495,219,463.5Q145,432,92.5,379Q40,326,44,251Q48,176,96.5,122Q145,68,217,49Q289,30,353,70Q417,110,437,180Q457,250,432.5,316.5Z;
                                    M448.5,327Q433,404,361,439Q289,474,209.5,466Q130,458,79,394.5Q28,331,27.5,250Q27,169,77,103.5Q127,38,207,40Q287,42,361,68.5Q435,95,449.5,172.5Q464,250,448.5,327Z;
                                    M447.5,329.5Q439,409,364.5,443Q290,477,219,452Q148,427,85,380Q22,333,35,254.5Q48,176,99,126Q150,76,221.5,41.5Q293,7,359,55Q425,103,440.5,176.5Q456,250,447.5,329.5Z;
                                    M453,325Q429,400,358,430Q287,460,214.5,448Q142,436,88,382.5Q34,329,30,248.5Q26,168,87,121Q148,74,219,49Q290,24,354,66.5Q418,109,447.5,179.5Q477,250,453,325Z">
                      </path>
                    </g>
                  </svg>
            <article>
                <h2>Notre ambition</h2>
               <p>Transformer l'expérience collaborateur</p> 
                 <p>Parce que chacune de nos interventions, de nos formations orientées solutions sont au service du projet singulier des organisations, nous plaçons l'expérience salarié au cœur de notre dispositif en l'associant à chacune des étapes de notre démarche. Observer et écouter activement pour comprendre les relations au travail afin de les améliorer et permettre la performance durable des entreprises.</p>
            </article>
        </div>

        </section>
{% endblock %}
