{% extends "base.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset("css/mentionsLegales.css")}}">
{% endblock %}
{% block main %}
       <h1>Conditions générales de vente</h1>
        <p><strong>1.</strong> Objet Les présentes conditions générales de vente concernent les différentes formations proposées
        par SENS ACTIONS dans le cadre de la formation professionnelle continue. Elles sont applicables sauf
        conditions particulières contraires précisées dans la convention.</p>
        <p><strong>2.</strong> Les types de formations concernées • Formation intra-entreprise : formation réalisée sur mesure
        pour le compte d’un client sur le site du client. • Formation intra-entreprise : formations certifiantes de
        l’INRS.</p>
        <p><strong>3.</strong> Inscription Toute commande de formation implique l’acceptation sans réserve par l’acheteur et son
        adhésion pleine et entière aux présentes conditions générales de vente qui prévalent sur tout autre
        document de l’acheteur, et notamment sur toutes conditions générales d’achat. L'inscription du (des)
        stagiaire(s) sera validée à réception par SENS ACTIONS de la convention de prestation de formation
        professionnelle dûment renseignée, signée et portant le cachet commercial de l’acheteur et pour les
        formations d’une durée supérieure à 10 jours à réception d’un acompte de 30% des frais de formation.
        Le règlement du solde doit être effectué à réception de facture.</p>
        <p><strong>4.</strong> Responsabilité SENS ACTIONS ne pourra être tenu responsable de tout dommage ou perte d’objets et
        effets personnels apportés par les participants à la formation. Il appartient au client de vérifier que son
        assurance personnelle le couvre lors de sa formation. Dans le cadre des formations dispensées en intra
        dans l’entreprise du client, les mesures de santé et sécurité applicables aux stagiaires sont celles de
        l’entreprise.</p>
        <p><strong>5.</strong> Tarifs Les tarifs applicables sont ceux indiqués sur le devis ou la convention de formation. Ils sont
        hors taxe, SENS ACTIONS n'étant pas assujetti à la TVA.</p>
        <p><strong>6.</strong> Facturation et modalités de paiement Le règlement du prix de la formation est effectué par : •
        Chèque libellé à l’ordre de SENS ACTIONS • Virement en précisant le numéro de facture, le nom de
        l’entreprise et son numéro SIREN/SIRET Les modalités de facturation et de paiement sont précisées
        dans la convention de formation. Le paiement anticipé ne pourra faire l’objet d’aucun escompte.</p>
        <p><strong>7.</strong> Règlement par un OPCA Lorsque la formation est prise en charge par un organisme tiers (OPCA...), il
        appartient au client : • de faire la demande de prise en charge avant le début de la formation et de
        s’assurer de la bonne fin de cette demande et du paiement par l’organisme qu’il a désigné. • d’indiquer
        explicitement sur le bulletin d’inscription et sur la convention de formation quel sera l’organisme à
        facturer, en indiquant sa raison sociale, son adresse et, le cas échéant, son adresse de facturation si
        celle-ci diffère de son adresse postale. Si le dossier de prise en charge de l’organisme tiers ne parvient
        pas à SENS ACTIONS avant le premier jour de la formation, les frais de formation seront intégralement
        facturés au client. En cas de prise en charge partielle par un organisme tiers, le reliquat sera facturé au
        client. Dans le cas où l’organisme n’accepte pas de payer la charge qui aurait été la sienne suite à des
        absences, abandons et pour quelque raison que ce soit, le client est redevable de l’intégralité du coût de
        la formation et à ce titre, il sera facturé de la totalité des frais de formation.</p>
        <p><strong>8.</strong> Pénalité de retard et sanctions en cas de défaut de paiement Toute somme non payée à l’échéance
        donnera lieu au paiement par le client de pénalités de retard fixées à trois fois le taux d’intérêt en
        vigueur. Ces pénalités sont exigibles de plein droit sans qu’aucun rappel ne soit nécessaire dès
        réception de l’avis informant le client qu’elles ont été portées à son débit. En outre, une indemnité
        forfaitaire de 40 euros est due pour les frais de recouvrement en cas de retard de paiement. Par
        ailleurs, en cas de non-paiement intégral d’une facture venue à échéance, après mise en demeure
        restée sans effet dans les 5 jours ouvrables, SENS ACTIONS se réserve la faculté de suspendre toute
        formation en cours et/ou à venir.</p>
        <p><strong>9.</strong> Convocation et attestation de formation Une lettre de convocation indiquant le lieu exact et les
        horaires de la formation sera adressée au participant. SENS ACTIONS ne peut être tenu responsable
        de la non réception de celle–ci par les destinataires, notamment en cas d’absence du ou des stagiaires à
        la formation. Les attestations de fin de formation établies en conformité avec les feuilles d’émargement
        seront adressées au client (entreprises, organismes tiers) après chaque formation, cycle ou parcours.</p>
        <p><strong>10.</strong> Refus de commande Dans le cas où un client passerait une commande à SENS ACTIONS sans avoir
        procédé au paiement de la (des) commande(s) précédentes), SENS ACTIONS pourra refuser d’honorer la
        commande et de délivrer les formations concernées sans que le client puisse prétendre à une
        quelconque indeminité, pour quelque raison que ce soit</p>
        <p><strong>11.</strong> Conditions d’annulation et de report Toute annulation par le client doit faire l’objet d’une notification
        écrite (mail, courrier) au plus tard 15 jours calendaires avant le début de la formation. Toute annulation
        ou non présentation du stagiaire à la date du début de la formation entrainera la facturation du coût de
        la formation dans son intégralité au titre d’indemnité forfaitaire. Une fois la formation commencée,
        toute annulation ou interruption de la formation donne lieu au paiement de la totalité des frais de
        formation, déduction faite, le cas échéant, des sommes acquittée et/ou facturée au titre de la formation
        effectivement suivie par le stagiaire. SENS ACTIONS se réserve le droit d’annuler une formation en cas
        de force majeure ou de reporter, dans un délai de 8 jours avant sa date de réalisation, une formation
        dont le nombre des participants est jugé insuffisant. Le client en est informé par mail, aucune
        indemnité n’est due en raison d’une annulation du fait de SENS ACTIONS. En cas d’annulation définitive
        de la formation par SENS ACTIONS, il est procédé au remboursement des acomptes preçus le cas
        échéant. En cas de réalisation partielle par SENS ACTIONS, seul le prix de la prestation réalisée
        partiellement sera facturé au titre de la formation.</p>
        <p><strong>12.</strong> Supports de formation Les supports de formation restent la propriété exclusive de SENS ACTIONS
        et/ou du formateur.</p>
        <p><strong>13.</strong> Confidentialité Les parties s’engagent réciproquement à garder confidentiels les documents et
        informations les concernant, quelle que soit leur nature, qu’ils soient économiques ou commerciaux,
        auxquels elles pourraient avoir eu accès au cours de l’exécution de la prestation ou à l’occasion des
        échanges intervenus antérieurement à la conclusion du contrat.</p>
        <p><strong>14.</strong> Litiges Si une contestation ou un différend n’ont pu être réglé à l’amiable, seul le Tribunal de
        Marseille sera seul compétent pour régler le litige.</p>
        <p><strong>15.</strong> Loi applicable Les conditions générales et tous les rapports entre SENS ACTIONS et ses clients
        relèvent de la loi française.</p>
        <p>2019 Copyright Sens Actions © Conditions d'utilisation
            www.sens-action.fr - +33 677 202 317</p>
{% endblock %}